@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #202020;
  color: white;
}

/* .App {
} */

.box{
  border: 3px solid black;
}



.connections {
  background-color: #426644;
}

.fileTransfers {
  background-color: #771d1d;
}
.bg-primary{
  background-color: #202020;
}
.bg-tile{
  background-color: #b8b4b40e;
 
}

@layer components{

}